body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f0f0f0; 
  /*padding: 20px;*/
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #003366;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
}

header .logo {
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 50px;
}

nav li {
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

nav li:hover > ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #005599;
}

nav ul ul li {
  width: 150px;
}

h2 {
     color: #4482C1;
     font-size: 40px; 
     margin-top: 100px;
     margin-left: 55px; 
    }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

img {
    
    height: 550px;
    display: block;
    margin: auto;

}

.marker {
  width: 20px; height: 20px;
  /*background: red; border-radius:50%;*/
  cursor: pointer;
}
.tooltip {
  display: none;
  position: absolute;
  top: -20px; left: 30px;
  background: black; color: white;
  padding: 2px 5px; border-radius: 3px;
}
.marker:hover .tooltip {
  display: block;
}


footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 200px;
}